#include <windows.h>

103 DIALOGEX 0, 0, 335, 266
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
FONT 8, "MS Sans Serif"
{
}

104 DIALOGEX 0, 0, 277, 215
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CLIENTEDGE
CAPTION "Debug Window"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
FONT 8, "MS Sans Serif"
{
}

101 ICON "Icon_1.ico"


1 VERSIONINFO
FILEVERSION 10,5,0,0
PRODUCTVERSION 10,5,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "000004b0"
	{
		VALUE "CompanyName", "DMA Design Ltd"
		VALUE "FileDescription", "GTA2 main executable"
		VALUE "FileVersion", "10, 5, 0, 0"
		VALUE "InternalName", "GTA2"
		VALUE "LegalCopyright", "Copyright © 1999 DMA Design Ltd"
		VALUE "LegalTrademarks", "DMA, DMA Design"
		VALUE "OriginalFilename", "gta2.exe"
		VALUE "ProductName", "GTA2"
		VALUE "ProductVersion", "10, 5, 0, 0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x04B0
}
}

